@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
   margin: 0;
   padding: 0;
}



.container{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

   .btn_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
   }
   
     
      .btn_footer1{
        display: flex;
      width: 192px;
      height: 48px;
      padding: 16px 20px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      
      border-radius: 8px;
      background: #16342C;
      cursor: pointer;
      }
      
      .btn_footer2{
        background-color: #FFF;
        display: flex;
        width: 192px;
        height: 48px;
        padding: 16px 20px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
        border-radius: 8px;
      border: 1px solid #3C4242;
      cursor: pointer;
      }
      
   
      .modal-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1; 
      }

      
.btn_footer1{
    color: #FFF;

    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.btn_footer2{
    color:  #16342C;

text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.con{
  display: grid;
  row-gap: 30px;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  margin: 3vw;
  background-image: url('/public/5.jpg');
  background-attachment: fixed;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  width: 100%;
  min-height: 60vh;
}